<h1>{{title}}</h1>

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="justify-content-center">
                <h2>{{Article_title}}</h2>
                <h3>{{article_URL}}</h3>
                <p>{{article_summary}}</p>
            </div>
        </div>
        <div class="col-4">
            <div>
                <form>
                    <input>
                    {{note}}
                </form>
            </div>
        </div>
    </div>
</div>
<button>back</button>